# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
.vscode/
*.iml
out
gen
target
target/
build/
*.class
node_modules/
logs/
*.tmp
*.cache

*.log
.settings
.project
_env/
